<table id="meal-plan-calendar" class="calendar table">
    <thead>
        <tr class="calendar-header h3">
            <th colspan="7">{{GetHeaderString()}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="week in Weeks" class="calendar-week">
            <td ng-repeat="day in week" class="calendar-day {{day.ClassName}}" ng-class="{'selected': IsDaySelected(day)}" ng-click="SelectDay(day)">
                <span class="day-num" ng-bind="day.Number"></span>
                <div class="meal-plan">
                    <div ng-if="!!day.PlanDay.Breakfast" ng-bind="day.PlanDay.Breakfast.Name"></div>
                    <div ng-if="!!day.PlanDay.Lunch" ng-bind="day.PlanDay.Lunch.Name"></div>
                    <div ng-if="!!day.PlanDay.Dinner" ng-bind="day.PlanDay.Dinner.Name"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
