<div>
    <h3>My meal options</h3>

    <div ng-repeat="option in data.MealOptions">
        <table>
            <tr>
                <td>{{option.Name}}</td>
                <td>
                    <div ng-repeat="ingredient in option.KeyIngredients">{{ingredient}}</div>
                </td>
                <td>
                    <input type="button" value="X" ng-click="Remove(option)" />
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <td>New option: <input type="text" ng-model="Editable.Name" /></td>
                <td>
                    Ingredients <input type="text" ng-model="Editable.NewIngredient" ng-keypress="OnNewIngredientKeyDown($event.which)" />
                    <div ng-repeat="ingredient in Editable.KeyIngredients">{{ingredient}}</div>
                </td>
                <td>
                    <input type="button" value="Add" ng-click="Add(Editable)" />
                </td>
            </tr>
        </table>
    </div>
</div>
